<!doctype html>
<html>
        <head>
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>SheetShow</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
        </head>
        <body>
            <div class="container" id="app">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">SheetShow</a>
                            </div>
                            <div id="navbar">
                                <ul class="nav navbar-nav navbar-right">
                                     <li><a href="https://sheetshow.readthedocs.org/en/latest/">Documentation</a></li>
                                     <li><a href="https://github.com/wetneb/sheetshow">Source</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="border: 1px solid #e7e7e7; border-radius: 4px; text-align: center;">
                                <svg width="400" height="400" id="seen-canvas"></svg>
                            </div>
                            <div v-cloak>
				    <p id="parsing-error" style="color: red">{{ parsedDiagram.error }}</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Diagram actions">
                                <a class="btn btn-default" id="svg-export" href="#" download="sheet_diagram.svg">Save as SVG</a>
                                <a class="btn btn-default" id="share-url" href="#">Share URL</a>
                                <a class="btn btn-default" id="reset-camera" href="#">Reset camera</a>
                            </div>
                            <hr />
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTheme">
                                        <a role="button" v-on:click.stop="toggleThemePanel" href="#theme">Theme</a>
                                        <button v-if="themePanelVisible" class="btn btn-default btn-xs" style="float: right" v-on:click.stop="saveTheme"><span class="glyphicon glyphicon-floppy-disk" /></button>
                                </div>
                                <div id="theme" class="panel-collapse collapse" v-bind:class="{ in: themePanelVisible }" role="tabpanel" aria-labelledby="headingTheme">
                                    <div class="panel-body">
                                    <div class="col-md-6">
                                        <h5>Sheets</h5>
                                        <div class="input-group" v-bind:class="{ 'has-error': sheetColorError }">
                                            <span class="input-group-addon">Color: #</span>
                                            <input type="text" class="form-control" aria-label="Sheet color (in HTML)" v-model="sheetColor">
                                            <span class="input-group-addon">(HTML)</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Opacity</span>
                                            <input type="number" min="0" max="100" class="form-control" aria-label="Sheet opacity (as percentage)" v-model.number="sheetOpacity">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Specular</span>
                                            <input type="number" min="0" max="100" class="form-control" aria-label="Sheet material specular exponent" v-model.number="sheetSpecular">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <h5>Wires and nodes</h5>
                                        <div class="input-group" v-bind:class="{ 'has-error': wireColorError }">
                                            <span class="input-group-addon">Color: #</span>
                                            <input type="text" class="form-control" aria-label="Wire color (in HTML)" v-model="wireColor">
                                            <span class="input-group-addon">(HTML)</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Thickness</span>
                                            <input type="number" min="0" max="50" class="form-control" aria-label="Thickness (in px)" v-model.number="wireThickness">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Node size</span>
                                            <input type="number" min="0" max="50" class="form-control" aria-label="Size (in px)" v-model.number="nodeSize">
                                            <span class="input-group-addon">px</span>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <h5>Geometry</h5>
                                        <div class="input-group">
                                            <span class="input-group-addon">Slice height</span>
                                            <input type="number" min="1" class="form-control" aria-label="Slice height (in px)" v-model.number="sliceHeight">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Sheet distance</span>
                                            <input type="number" min="1" class="form-control" aria-label="Sheet distance (in px)" v-model.number="sheetDistance">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Wire layout</h5>
                                        <div class="input-group">
                                            <span class="input-group-addon">Spacing</span>
                                            <input type="number" min="1" class="form-control" aria-label="Wire spacing (in px)" v-model.number="wireSpacing">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Margin</span>
                                            <input type="number" min="1" class="form-control" aria-label="Wire margin (in px)" v-model.number="wireMargin">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" id="diagLibrary">
                                <div class="panel-heading" role="tab" id="headingLibrary">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLibrary" aria-expanded="false" aria-controls="#collapseLibrary">Diagram library</a>
                                </div>
                                <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLibrary">
                                <div class="panel-body">
                                    <div class="input-group">
					<input type="text" class="form-control" placeholder="Name your diagram" id="diag-name-input" v-model="currentName">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="save-diagram" v-on:click.stop="saveDiag">Save locally</button>
                                        </span>
                                    </div>
                                    <br />
                                    <div id="saved-diagrams" class="list-group" v-cloak>
					    <a v-for="{name, diagram} in library.lst"
					       v-bind:key="name"
					       v-on:click.stop="loadDiag($event, name)"
					       class="list-group-item">
						    {{ name }}
						    <button class="btn btn-default btn-xs" style="float: right" v-on:click.stop="deleteDiag($event, name)"><span class="glyphicon glyphicon-trash" /></button>
					    </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <textarea id="json-textarea" style="font-family: monospace" class="form-control" rows="50" spellcheck="false" v-model="jsonText"></textarea>
                        </div>
                        <hr />
                    </div>
                </div>
                <script src="main.js"></script>
                <script type="text/javascript">
                    let initialDiagram = {
                        inputs: [["A"], ["B","C"], ["D","E"]],
                        outputs: [["A"], ["F","C"], ["G"],["H"]],
                        slices: [{
                                offset:1,
                                inputs:1,
                                outputs:2,
                                nodes: [
                                {
                                    offset: 0,
                                    inputs: [1],
                                    outputs: [1,1],
                                    label: "f"
                                }
                                ]
                            },
                            {
                                offset:2,
                                inputs:2,
                                outputs:2,
                                nodes: [
                                {
                                    offset: 0,
                                    inputs: [2, 2],
                                    outputs: [1, 1],
                                    label: "g"
                                }
                                ]
                            }]};
                     sheetshow.setUp(initialDiagram);
                </script>
        </body>
</html>
